﻿@model Forum.Models.Message

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescriptionMessage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescriptionMessage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateTimeMessage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTimeMessage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Theme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Theme.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
