﻿@model Forum.Models.Message

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DescriptionMessage" class="control-label"></label>
                <input asp-for="DescriptionMessage" class="form-control" />
                <span asp-validation-for="DescriptionMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeMessage" class="control-label"></label>
                <input asp-for="DateTimeMessage" class="form-control" />
                <span asp-validation-for="DateTimeMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThemeId" class="control-label"></label>
                <select asp-for="ThemeId" class="form-control" asp-items="ViewBag.ThemeId"></select>
                <span asp-validation-for="ThemeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
