﻿@model Forum.Models.Theme

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Theme</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Автор
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Описание
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            Дата создания
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt>
            Сообщений
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MessageCount)
        </dd>
    </dl>
</div>


<div id="comments-@Model.Id">
   
        @foreach (var message in ViewBag.Answers)
        {
            <table class="table">
                <thead>
                    <tr>

                        <th>
                            Фото
                        </th>
                        <th>
                            Автор
                        </th>

                        <th>
                            Сообщение
                        </th>

                        <th>
                            Дата создания
                        </th>
                        <th>
                            Likes
                        </th>
                        <th>
                            DiseLike
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>
                            <img src="~/@message.User.Avatar" width="100" height="100" />
                        </td>
                        <td>
                            @message.User.Name
                        </td>
                        <td>
                            @message.DescriptionMessage
                        </td>
                        <td>
                            @message.DateTimeMessage
                        </td>
                        <td>
                            @message.LikeCount
                        </td>
                        <td>
                            @message.DiseLikeCount
                        </td>
                    </tr>
                </tbody>
            </table>


        }
    
</div>



<div id="postdiv-@Model.Id" id="postdiv">
    <textarea id="posttext-@Model.Id"></textarea>
    <input type="button" id="postComment" onclick="sendComment('@Model.Id', '@Model.User.Id')" value="Отправить" />
</div>
<div>
    <input type="button" value="Previouse" />
    <input type="button" value="Next" />
    <a asp-action="Index">Back to List</a>
</div>
@if (ViewBag.PageViewModel.HasPreviousPage)
{
    <a asp-action="Details"
       asp-route-page="@(ViewBag.PageViewModel.PageNumber - 1)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (ViewBag.PageViewModel.HasNextPage)
{
    <a asp-action="Details"
       asp-route-page="@(ViewBag.PageViewModel.PageNumber + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
@section Scripts
    {
    <script>

        function sendComment(postId, userId) {
            $.ajax({
                url: '@Url.Action("Create", "Messages")',
                type: 'POST',
                data: { 'postId': postId, 'userId': userId, 'content': $('#posttext-' + postId).val() },
                success: function fill(data) {
                    $('#comments-' + postId).append("<div>" + JSON.parse(data).DescriptionMessage + " |  " + JSON.parse(data).DateTimeMessage +
                        " |  " + JSON.parse(data).user + "</div>");

                }


            });
        }
    </script>
}