﻿@model IEnumerable<Forum.Models.Theme>

@{
    ViewData["Title"] = "Index";
}

<h2>Темы</h2>
@if (User.Identity.IsAuthenticated)
{
<p>
    <a asp-action="Create">Создать новую тему</a>
</p>
}
<table class="table">
    <thead>
        <tr>
                <th>
                    Название
                </th>
                
                <th>
                    Автор
                </th>
                <th>
                   Количество сообщениЙ в теме
                </th>
                <th>
                    Дата создания
                </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
